.example-class > th {
    display: none;
}

.example-class > td {
    padding-left: 0px;
}

.select-class > th {
    display: none;
}

.select-class > td {
    padding-left: 0px;
}

.collabim-widget {
    margin-right: 20px;
    margin-top: 20px;
}